/************************************************************************\
	Vertis Aviation
	---------------------------------------------------------------------
	MODULE:		main.css
	PURPOSE:	main styles for site
	@author:	dan moe & chris grace
	---------------------------------------------------------------------
	DO NO EDIT THE MAIN CSS FILE DIRECTLY. THE SKY WILL FALL DOWN !!!
/************************************************************************/


// IMPORTS
@import 'bootstrap';
@import 'font-awesome';
@import 'mixins';
@import 'globals';
@import 'animations';
@import 'multiscroll';
@import 'structure';
@import 'typography';


